doctype html
html(lang="en")
  head
    title="Excess Luggage"

    meta(
      charset="UTF-8"
    )

    meta(
      name="viewport" content="width=device-width, initial-scale=1.0" 
    )

    meta(
      http-equiv="X-UA-Compatible" content="ie=edge" 
    )

    script(
      defer 
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    )

    link(
      rel="stylesheet" 
      type="text/css" 
      href="../css/main.css"
    )

    link(
      rel="icon"
      href="./images/favicon.ico"
      type="image/icon type"
    )

    link(
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"
    )

    link(
      rel="stylesheet" 
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
    )

  


  body
    // mixins
    include navigation.pug
    include footer.pug
    //- include frontpage/benefits.pug
    //- include frontpage/functionalities.pug
    //- include frontpage/testimonials.pug
    //- include frontpage/testimonials_list.pug
    //- include frontpage/mobile-app.pug
    //- include contact-form.pug


    block body

